html, ul, li {
    margin: 0;
    padding: 0;
    color: yellow;
}
.body {
    background: url(images/background.jpg) repeat top center black;
}

#load { 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background:  url(images/spinner2.gif) no-repeat top center white;
}

.schedule {
    margin: 50px 0;
    background:  #eee78d;
    border-radius: 20px;
}

.date {
    position: relative;
    bottom: 15px;
    left: 73%;
    padding-bottom: .2rem;
    font-size: 1.2rem;
    color: #00838f;
    margin-bottom: 0;
}

.pare {
    height: 50px;
    margin: 6px 14px;
    border-radius: 10px;
}
.pare:last-child {
    margin-bottom: 30px;
}
.entire {
    width: 100%;
    height: 20px;
}

/* Main Button*/
#week {
    margin: 10px auto 0 auto;
    width: 165px;
}
#weekButton {
    background: #c0d0d1;
    color: #00838f;
    padding: 10px;
    font-size: 17px;
}
#week :hover {
    color: #c0d0d1;
    background: #00838f;
}


/* Fields */
.pare {
    display: flex;
}
.pareLeft {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.pareRight {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.namePare {
    position: relative;
    margin: auto;
    width: 80px;
}
.typePare {
    margin: auto 10px;
}
.cheaker {
    margin: auto 10px;
    width: 70px;
}
.pareTime {
    margin: auto;
}


.redDanger {
    background: red;
}
.greenDanger {
    background: green;
}
.orangeDanger {
    background: orange;
}




.title {
    display: flex;
    align-items: center;
    justify-content: center;

    background:  url(images/note2.png) no-repeat center center;
    height: 55px;
    width: 140px;

    margin: 0 auto -20px auto; 
    position: relative;
    bottom: 20px;

    color: rgb(0, 0, 126);
    font-size: 1.2rem;
    text-transform: uppercase;
}



/*Specially for full week*/
.dateHead {
    margin: 15px 0;
}